body {
   background-color: #000;
	font-family: "cyber", cursive;

   font-size: 0.8em;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   font-family: var(--font-family-first);

   color: rgb(120, 5, 124);

   background-image: var(--image);
}
.large {
	font-size: 6rem;
}



.rise {
	text-shadow: -0.01em -0.01em 0.01em #000;
	animation: rise 2s ease-in-out 0.5s forwards;
}
@keyframes rise {
	to {
		text-shadow: 0em 0.01em #ff5, 0em 0.02em #ff5, 0em 0.02em 0.03em #ff5,
			-0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333,
			-0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000,
			-0.03em -0.03em 0.03em #000;
		transform: translateY(-0.025em) translateX(0.04em);
	}
}

#Nombre{
   color: red;
}

/* #divNombre{
   
} */

h1 {
   text-align: center;
   font-size: 2.5em;
   margin: 1em 0em 0.3em 0em;
}

h2 {
   text-align: center;
   margin: 0px 0px 10px 0px;
}

p {
   margin: 0.5em 0.5em 0em 0.5em;
}

ul {
   margin: 0px;
}

.card {
   position: absolute;
   top: 0px;
   left: 0px;
   height: 96px;
}

.FreeBox{
   width: 150px;
   height: 210px;
   margin: 3px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   float: left;

}



.columnMom {
  position: absolute;
  float: left;
  margin-left: 400px;
}

.columnMom > div {
   position: relative;
   float: left;
   margin: 50px 20px 0px 5px;
    width: 150px;
    height: 210px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #58FA58;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
 }

 .small {
	font-size: 2rem;
}
.free {
   float: left;
}

.highlight {
   -moz-box-shadow: 0px 0px 8px #f00;
   -webkit-box-shadow: 0px 0px 8px #f00;
   box-shadow: 0px 0px 8px #f00;
}

.suit {
   float: right;
}

.freeHide{
   width: 150px;
   height: 210px;
   border-style: solid;
   border-width: 3px;
   border-color: #58FA58;
   margin-left: 200px;
   display: none;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}
.free{
   width: 150px;
   height: 210px;
   border-style: solid;
   border-width: 3px;
   border-color: #58FA58;
   margin: 3px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}
p{
   background: linear-gradient(
     to right, 
     hsl(98 100% 62%), 
     hsl(204 100% 59%)
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
 }
#posTable {
   width: fit-content;
   height: 300px;
   margin: auto;
   padding: 10px;
   position: relative;
   background-image: var(--image5) ;
   
}


#table {
   background-image: var(--image5) ;
   width: fit-content;
   height: 800px;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   border-style: solid;
   border-width: 5px;
   border-color: black;
   border-radius: 15px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-box-shadow: 15px 15px 15px #888888;
   -webkit-box-shadow: 15px 15px 15px #888888;
   box-shadow: 15px 15px 15px #888888;
}
:root {
   --font-family-first: 'Audiowide', monospace;
   --image: url('images/fondo1.jpg');
   --image5: url('images/fondo5.jpg');
}

* {
   padding: 0;
   box-sizing: border-box;
}

#newgame{
   
      margin: 0.5em 0;
      padding: .8em 2.2em;
      cursor: pointer;
   
      background: #575aff;
      border: none;
      border-radius: .4em;
   
      text-transform: uppercase;
      font-size: 1.0em;
      font-family: "Work Sans", sans-serif;
      font-weight: 500;
      letter-spacing: 0.04em;
   
      mix-blend-mode: color-dodge;
      perspective: 500px;
      transform-style: preserve-3d;
   

}


#help{
   
   margin: 0.5em 0;
   padding: .8em 2.2em;
   cursor: pointer;

   background: #575aff;
   border: none;
   border-radius: .4em;

   text-transform: uppercase;
   font-size: 1.0em;
   font-family: "Work Sans", sans-serif;
   font-weight: 500;
   letter-spacing: 0.04em;

   mix-blend-mode: color-dodge;
   perspective: 500px;
   transform-style: preserve-3d;


}

button {
 font-family: inherit;

 border: none;
 cursor: pointer;
}

.main-carousel {
 position: relative;

 display: flex;
 justify-content: space-between;
 width: 100%;
 padding-left: 80px;
 padding-right: 80px;
 margin-bottom: 55px;
}

.main-carousel::after {
 position: absolute;
 left: 50px;
 top: 52px;

 display: block;
 width: calc(100% - 100px); 
 height: 6px;

 content: '';
 background-color: #000;
}

.main-carousel::before {
 position: absolute;
 left: 0;
 top: 52px;

 display: block;
 box-sizing: border-box;
 width: 100%;

 content: '';
 border: 3px dashed var(--color-black);
}

.button-arrow {
   position: absolute;
 bottom: 50px; /* 75px - 25px */

 width: 50px;
 height: 50px;

 background-color: var(--color-first);
 box-shadow: 5px 5px 0px var(--color-black);
 
 transition: transform 300ms cubic-bezier(.42,0,.66,2.35);
}

.button-arrow:hover { transform: scale(1.08); }

/* Create the arrow. */
.button-arrow::before {
 display: block;
 width: 18px;
 height: 18px;
 box-sizing: border-box;

 content: '';
 border: 18px solid transparent;
}

/* The right (>) arrow. */
.button-arrow.-right::before { 
 border-left: 30px solid var(--color-third);

 transform: translateX(12px);
}

/* The left (<) arrow. */
.button-arrow.-left::before { 
 border-right: 30px solid var(--color-third);

 transform: translateX(-12px);
}

.button-arrow.-right { right: 15px; }

.button-arrow.-left { 
 left: 15px; 
 
 box-shadow: -5px 5px 0px var(--color-black);
}

/* Hide the content for acessibility. */
.button-arrow .content { display: none; }

.main-carousel .items {
 width: 100%;
 overflow: hidden;
}

.main-carousel .cards {
 display: flex;
 justify-content: space-between;

 transition: transform 300ms ease-in-out;
}

.node-card {
 position: relative;

 display: inline-flex;
 flex-direction: column;
 align-items: center;
}

.node-card::before {
 position: absolute;
 bottom: 220px;

 width: 20px;
 height: 0;
 box-sizing: border-box;

 content: '';
 border: 2px dashed var(--color-black);

 transform: rotate(90deg) translateX(-50%);
}

.node-card .main-title { margin-bottom: 50px; }

.node-card .logo {
 display: none;
 align-items: center;
 padding-left: 15px;
 padding-right: 15px;
 height: 220px;

 background-color: var(--color-fourth);
 border: 5px solid var(--color-black);
}

.logo.-no-padding { padding: 0; }

.logo.-no-padding .image { height: 130px; }

.logo.-bg-red { background-color: var(--color-first); }
