body {
   background-color: #eeeeee;
   font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
   font-size: 0.8em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;

   font-family: var(--font-family-first);

   background-color: var(--color-second);
}

h1 {
   text-align: center;
   font-size: 2.5em;
   margin: 1em 0em 0.3em 0em;
}

h2 {
   text-align: center;
   margin: 0px 0px 10px 0px;
}

p {
   margin: 0.5em 0.5em 0em 0.5em;
}

ul {
   margin: 0px;
}

.card {
   position: absolute;
   top: 0px;
   left: 0px;
   height: 96px;
}

.columnMom {
  position: absolute;
  float: left;
}

.columnMom > div {
   position: relative;
   float: left;
   margin: 125px 5px 0px 5px;
    width: 72px;
    height: 96px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #58FA58;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
 }

.free {
   float: left;
}

.highlight {
   -moz-box-shadow: 0px 0px 8px #f00;
   -webkit-box-shadow: 0px 0px 8px #f00;
   box-shadow: 0px 0px 8px #f00;
}

.suit {
   float: right;
}

.free, .suit {
   width: 72px;
   height: 96px;
   border-style: solid;
   border-width: 3px;
   border-color: #58FA58;
   margin: 3px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

#posTable {
   width: 750px;
   height: 400px;
   margin: 0 550px auto;
   padding: 10px;
   position: relative;
   background-color: #006699;}

#table {
   background-color: #006699;
   width: 1800px;
   height: 700px;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   border-style: solid;
   border-width: 5px;
   border-color: black;
   border-radius: 15px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-box-shadow: 15px 15px 15px #888888;
   -webkit-box-shadow: 15px 15px 15px #888888;
   box-shadow: 15px 15px 15px #888888;
}
:root {
   --font-family-first: 'Roboto Mono', monospace;
   
   --color-first: #E63946;
   --color-second: #1D3557;
   --color-third: #F1FAEE;
   --color-fourth: #CEB02A;
   --color-black: #000;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


button {
 font-family: inherit;

 border: none;
 cursor: pointer;
}

.main-carousel {
 position: relative;

 display: flex;
 justify-content: space-between;
 width: 100%;
 padding-left: 80px;
 padding-right: 80px;
 margin-bottom: 55px;
}

.main-carousel::after {
 position: absolute;
 left: 50px;
 top: 52px;

 display: block;
 width: calc(100% - 100px); 
 height: 6px;

 content: '';
 background-color: #000;
}

.main-carousel::before {
 position: absolute;
 left: 0;
 top: 52px;

 display: block;
 box-sizing: border-box;
 width: 100%;

 content: '';
 border: 3px dashed var(--color-black);
}

.button-arrow {
   position: absolute;
 bottom: 50px; /* 75px - 25px */

 width: 50px;
 height: 50px;

 background-color: var(--color-first);
 box-shadow: 5px 5px 0px var(--color-black);
 
 transition: transform 300ms cubic-bezier(.42,0,.66,2.35);
}

.button-arrow:hover { transform: scale(1.08); }

/* Create the arrow. */
.button-arrow::before {
 display: block;
 width: 18px;
 height: 18px;
 box-sizing: border-box;

 content: '';
 border: 18px solid transparent;
}

/* The right (>) arrow. */
.button-arrow.-right::before { 
 border-left: 30px solid var(--color-third);

 transform: translateX(12px);
}

/* The left (<) arrow. */
.button-arrow.-left::before { 
 border-right: 30px solid var(--color-third);

 transform: translateX(-12px);
}

.button-arrow.-right { right: 15px; }

.button-arrow.-left { 
 left: 15px; 
 
 box-shadow: -5px 5px 0px var(--color-black);
}

/* Hide the content for acessibility. */
.button-arrow .content { display: none; }

.main-carousel .items {
 width: 100%;
 overflow: hidden;
}

.main-carousel .cards {
 display: flex;
 justify-content: space-between;

 transition: transform 300ms ease-in-out;
}

.node-card {
 position: relative;

 display: inline-flex;
 flex-direction: column;
 align-items: center;
}

.node-card::before {
 position: absolute;
 bottom: 140px;

 width: 40px;
 height: 0;
 box-sizing: border-box;

 content: '';
 border: 2px dashed var(--color-black);

 transform: rotate(90deg) translateX(-50%);
}

.node-card .main-title { margin-bottom: 50px; }

.node-card .logo {
 display: flex;
 align-items: center;
 padding-left: 15px;
 padding-right: 15px;
 height: 140px;

 background-color: var(--color-fourth);
 border: 5px solid var(--color-black);
}

.logo.-no-padding { padding: 0; }

.logo.-no-padding .image { height: 130px; }

.logo.-bg-red { background-color: var(--color-first); }
